<!DOCTYPE html>
<html lang="zhcn">
<head>
    <include file="Common/meta" />
    <title>活动 - {$websiteName}</title>
    <include file="Common/link" />
</head>
<body>
<include file="Common/header" />
<div class="layout-body">
    <section class="act-section">
        <div class="container container-main">
            <h2 class="act-title">闯关活动</h2>
            <div>每天一个Demo，你能坚持多久？</div>
        </div>
    </section>
    <section class="act-section">
        <div class="container container-main">
            <h2 class="act-title">排名奖品</h2>
            <div>每天一个Demo，你能坚持多久？</div>
        </div>
    </section>
    <section class="act-section">
        <div class="container container-main">
            <h2 class="act-title">活动规则</h2>
            <div>每天一个Demo，你能坚持多久？</div>
        </div>
    </section>

</div>

<include file="Common/footer" />
<script>
</script>
</body>
</html>


