<!DOCTYPE html>
<html lang="zhcn">
<head>
    <include file="Common/meta" />
    <title>代码详情 - {$websiteName}</title>
    <include file="Common/link" />
    <link rel="stylesheet" href="/public/asset/lib/codemirror/codemirror.min.css">
    <link rel="stylesheet" href="/public/asset/css/index2.css">
</head>
<body>
<include file="Common/header2" />
<div class="layout-body body-full">
    <div class="layout-left">
        <if condition="$self eq 'true'">
            <div>

                <label>项目名称</label>
                <input id="name" class="form-control" value="{$code['code_name']}">
                <label>项目介绍</label>
                <input id="desc" class="form-control" value="{$code['description']}">
                <label>
                    <input id="preview-in-time" class="" type="checkbox"> 实时预览
                </label>
                <?php
    //dump($test);
    ?>
            </div>
        <else />
            <div>

                <label>项目名称2</label>
                <input id="name" class="form-control" value="{$code['code_name']}">
                <label>项目介绍</label>
                <input id="desc" class="form-control" value="{$code['description']}">
                <?php
    //dump($test);
    ?>
            </div>
        </if>

    </div>
    <div class="layout-right">
        <include file="Common/code" />
    </div>
</div>

<include file="Common/footer" />
<script src="/public/asset/lib/codemirror/codemirror.min.js"></script>
<script src="/public/asset/lib/codemirror/htmlmixed.js"></script>
<script src="/public/asset/lib/codemirror/css.js"></script>
<script src="/public/asset/lib/codemirror/javascript.js"></script>
<script src="/public/asset/lib/codemirror/xml.js"></script>
<script src="/public/asset/lib/codemirror/closetag.js"></script>
<script src="/public/asset/lib/codemirror/closebrackets.js"></script>

<script src="/public/asset/js/common.js"></script>

<script>
    var page = {
        code: {
          id: '{$code['code_id']}'
        },
        isSelf: {$self}
    }
</script>
<script>

    $('#save').on('click', function () {
        if (!page.isSelf) {
            eui.msg('这不是您的项目，不能保存');
            return;
        }

        var name = $('#name').val();
        if (!name) {
            name = "未命名";
        }
        var html = htmlEditor.getValue();
        var css = cssEditor.getValue();
        var javascript = javascriptEditor.getValue();

        $.ajax({
            url: '/code/update',
            data: {
                id: page.code.id,
                name: name,
                html: html,
                css: css,
                js: javascript
            },
            type: 'POST',
            dataType: 'json',
            success: function (obj) {
                if (obj.code === 0) {
                    eui.msg('保存成功');
                } else {
                    eui.msg('保存失败，' + obj.msg);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                eui.msg('系统出错');
            }
        });
    });
</script>
</body>
</html>

