<?php
//dump($codes);
?>
<!DOCTYPE html>
<html lang="zhcn">
<head>
    <include file="Common/meta" />
    <title>热门代码 - {$websiteName}</title>
    <include file="Common/link" />
    <style>
        .banner img {
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
<include file="Common/header" />
<div class="layout-body">
    <div class="container">
        <ul class="code-list">
            <ul class="nav nav-tabs rc-tab">
                <li class="nav-item active"><a class="nav-link" href="#tab11" data-toggle="tab">热门代码</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab12" data-toggle="tab">最新热门</a></li>
            </ul>
            <foreach name="codes" item="code">
                <li class="item">

                    <iframe class="code-view" src="/code/demo?id={$code.code_id}"></iframe>
                    <div class="info">
                        <div class="overlay"></div>
                        <div class="content">
                            <a class="title" href="/code/detail?id={$code.code_id}" target="_blank">{$code.code_name}</a>
                            <div class="desc">{$code.description}</div>
                        </div>

                    </div>
                </li>
            </foreach>
        </ul>
        <!--<p>这是首页</p>
        <a href="/Home/Index/hello">hello</a>
        <p>简短信息</p>
        <a href="/about">关于</a>
        <a href="/article/all">所有文章</a>
        <a href="/article/1">简短文章1</a>
        <a href="/menu">菜单</a>
        <a href="/login">登陆</a>
        <p>访问人数：{$visitCount}</p>
        <p><a href="/admin/index">管理平台</a></p>
        <p><a href="/upload/">上传页面</a></p>
        <p><a href="/page/md5">md5</a></p>

        <ul class="banner">
            <foreach name="banners" item="banner">
                <li>
                    <p><a href="{$banner['url']}"><img src="{$banner['resource']}"></a></p>
                </li>
            </foreach>
        </ul>
-->
    </div>
</div>


<include file="Common/footer" />

<script>

</script>
</body>
</html>


