<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>runJs - 在线工具</title>
    <include file="Common/link" />
    <link rel="stylesheet" href="/public/asset/lib/codemirror/codemirror.min.css">
    <link rel="stylesheet" href="/public/asset/css/index2.css">
</head>
<body>
<include file="Common/header2" />
<div class="layout-body">
    <div class="container" style="width:100%;height:100%; font-size:12px;">
        <div class="row">
            <div class="col-sm-2">
                <div>
                    <h1>项目名称</h1>
                    <input class="form-control">
                </div>
            </div>
            <div class="col-sm-10">
                <include file="Common/code" />
            </div>
        </div>

    </div>
</div>

<include file="Common/footer" />
<script src="/public/asset/lib/codemirror/codemirror.min.js"></script>
<script src="/public/asset/lib/codemirror/htmlmixed.js"></script>
<script src="/public/asset/lib/codemirror/css.js"></script>
<script src="/public/asset/lib/codemirror/javascript.js"></script>
<script src="/public/asset/lib/codemirror/xml.js"></script>
<script src="/public/asset/lib/codemirror/closetag.js"></script>
<script src="/public/asset/lib/codemirror/closebrackets.js"></script>
<!--[if lt IE 9]>
<script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->
<script>
    // Define an extended mixed-mode that understands vbscript and
    // leaves mustache/handlebars embedded templates in html mode
    var mixedMode = {
        name: "htmlmixed",
        scriptTypes: [{
            matches: /\/x-handlebars-template|\/x-mustache/i,
            mode: null
        },
            {
                matches: /(text|application)\/(x-)?vb(a|script)/i,
                mode: "vbscript"
            }]
    };

    var htmlEditor = CodeMirror.fromTextArea(document.getElementById("html"), {
        mode: 'text/html',
        selectionPointer: true,
        lineNumbers: false,
        matchBrackets: true,
        indentUnit: 4,
        indentWithTabs: true
    });
    var javascriptEditor = CodeMirror.fromTextArea(document.getElementById("javascript"), {
        mode: 'text/javascript',
        selectionPointer: true,
        lineNumbers: false,
        matchBrackets: true,
        indentUnit: 4,
        indentWithTabs: true
    });
    var cssEditor = CodeMirror.fromTextArea(document.getElementById("css"), {
        mode: 'text/css', /* text/css, text/x-scss (demo), text/x-less (demo). */
        selectionPointer: true,
        lineNumbers: false,
        matchBrackets: true,
        indentUnit: 4,
        indentWithTabs: true
    });

    function submitTryit() {
        var html = htmlEditor.getValue();
        var css = cssEditor.getValue();
        var javascript = javascriptEditor.getValue();
        var patternBody = /<body[^>]*>((.|[\n\r])*)<\/body>/im;
        var array_matches_body = patternBody.exec(html);
        //alert(typeof array_matches_body);

        var result = '<html><head><style>' + css + '</style></head><body>'
                + html + '<script>' + javascript + '<\/script>'
                + '</body></html>';

        setOutputValue(result);
    }
    function setOutputValue(val) {
        var ifr = document.createElement("iframe");
        ifr.setAttribute("frameborder", "0");
        ifr.setAttribute("id", "iframeResult");
        document.getElementById("iframewrapper").innerHTML = "";
        document.getElementById("iframewrapper").appendChild(ifr);

        var ifrw = (ifr.contentWindow) ? ifr.contentWindow : (ifr.contentDocument.document) ? ifr.contentDocument.document : ifr.contentDocument;
        ifrw.document.open();
        ifrw.document.write(val);
        ifrw.document.close();
    }
    submitTryit();
    document.getElementById('run').onclick = function(e) {
        e.preventDefault();

        submitTryit();
    };
    document.onkeydown = function(e) {
        if (e.ctrlKey && e.which == 13) {
            alert(1);
        }
    }
    document.getElementById('clear').onclick = clear;
    function clear(e) {
        e.preventDefault();

        htmlEditor.setValue('');
        cssEditor.setValue('');
        javascriptEditor.setValue('');
        setOutputValue('');
    }
    function init() {
        console.log(1);
    }
    document.getElementById('html-tag').onclick = function(e) {
        var el = document.getElementById('html-box');
        el.style.position = 'fixed';
        el.style.top = '0';
        el.style.left = '0';
        el.style.bottom = '0';
        el.style.height = '100%';
        el.style.right = '0';
        el.style.zIndex = 10000;

        alert(el.getAttribute('class'));
    };

    $('#save').on('click', function () {
        var html = htmlEditor.getValue();
        var css = cssEditor.getValue();
        var javascript = javascriptEditor.getValue();

        $.ajax({
            url: '/code/add',
            data: {
                id: page.code.id,
                html: html,
                css: css,
                js: javascript
            },
            type: 'POST',
            dataType: 'json',
            success: function (obj) {
                if (obj.code === 0) {
                    eui.msg('保存成功');
                } else {
                    eui.msg('保存失败，' + obj.msg);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                eui.msg('系统出错');
            }
        });
    });
</script>
</body>
</html>