<!DOCTYPE html>
<html lang="zhcn">
<head>
    <include file="Common/meta" />
    <title>我的代码 - {$websiteName}</title>
    <include file="Common/link" />
</head>
<body>
<include file="Common/header" />
<div class="layout-body">
    <div class="container">
        <section class="index-section">
            <ul class="fun-list">
                <li class="item">热门</li>
                <li class="item">编辑器</li>
                <li class="item">帮助</li>
            </ul>
        </section>
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">热门代码</h2>
            </header>
            <div class="card-body">
                <div>
                    <a class="btn btn-primary" href="/code/add">新建项目</a>
                </div>
                <ul>
                <foreach name="codes" item="code">
                    <li class="item" data-id="{$code.code_id}">
                        <div>
                            <a href="/code/detail?id={$code.code_id}">{$code.code_name}</a>
                            <a class="delete-code" href="#">删除</a>
                        </div>
                    </li>
                </foreach>
                </ul>
            </div>
        </section>
        <!--<p>这是首页</p>
        <a href="/Home/Index/hello">hello</a>
        <p>简短信息</p>
        <a href="/about">关于</a>
        <a href="/article/all">所有文章</a>
        <a href="/article/1">简短文章1</a>
        <a href="/menu">菜单</a>
        <a href="/login">登陆</a>
        <p>访问人数：{$visitCount}</p>
        <p><a href="/admin/index">管理平台</a></p>
        <p><a href="/upload/">上传页面</a></p>
        <p><a href="/page/md5">md5</a></p>

        <ul class="banner">
            <foreach name="banners" item="banner">
                <li>
                    <p><a href="{$banner['url']}"><img src="{$banner['resource']}"></a></p>
                </li>
            </foreach>
        </ul>
-->
    </div>
</div>


<include file="Common/footer" />

<script>
    $(function () {
       $(document).on('click', '.delete-code', function (e) {
           e.preventDefault();

           var id = $(this).closest('.item').data('id');

           $.ajax({
               url: '/code/delet',
               data: {
                   id: id,
               },
               type: 'POST',
               dataType: 'json',
               success: function (obj) {
                   if (obj.code === 0) {
                       eui.msg('删除成功');
                   } else {
                       eui.msg('删除失败，' + obj.msg);
                   }
               },
               error: function (XMLHttpRequest, textStatus, errorThrown) {
                   eui.msg('系统出错');
               }
           });
       }) ;
    });
</script>
</body>
</html>


