<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>runJs - 在线工具</title>
    <include file="Common/link" />
    <link rel="stylesheet" href="/public/asset/lib/codemirror/codemirror.min.css">
    <link rel="stylesheet" href="/public/asset/lib/codemirror/hint/show-hint.css">
    <link rel="stylesheet" href="/public/asset/css/index2.css">
</head>
<body>
<include file="Common/header2" />
<div class="layout-body body-full">
    <div class="layout-left">
        <div>
            <h1>项目名称</h1>
            <input id="name" class="form-control">
            <label>
                <input id="preview-in-time" class="" type="checkbox"> 实时预览
            </label>
        </div>
        <div class="tip">小提示：XXXXXX</div>
    </div>
    <div class="layout-right">
        <include file="Common/code" />
    </div>
</div>
<include file="Common/script" />
<script src="/public/asset/lib/codemirror/codemirror.min.js"></script>
<script src="/public/asset/lib/codemirror/htmlmixed.js"></script>
<script src="/public/asset/lib/codemirror/css.js"></script>
<script src="/public/asset/lib/codemirror/javascript.js"></script>
<script src="/public/asset/lib/codemirror/xml.js"></script>
<script src="/public/asset/lib/codemirror/closetag.js"></script>
<script src="/public/asset/lib/codemirror/closebrackets.js"></script>
<script src="/public/asset/lib/codemirror/hint/show-hint.js"></script>
<script src="/public/asset/lib/codemirror/hint/javascript-hint.js"></script>
<script src="/public/asset/lib/codemirror/hint/css-hint.js"></script>
<script src="/public/asset/lib/codemirror/hint/xml-hint.js"></script>
<script src="/public/asset/lib/codemirror/hint/html-hint.js"></script>
<script src="/public/asset/js/common.js"></script>
<script>

    document.getElementById('save').onclick = function() {
        var name = $('#name').val();
        if (!name) {
            eui.msg('项目名称不能为空');
            return;
        }

        var html = htmlEditor.getValue();
        var css = cssEditor.getValue();
        var javascript = javascriptEditor.getValue();

        $.ajax({
            url: '/code/add',
            data: {
                name: name,
                html: html,
                css: css,
                js: javascript
            },
            type: 'POST',
            dataType: 'json',
            success: function (obj) {
                if (obj.code === 0) {
                    eui.msg('保存成功');
                    var id = obj.data;
                    setTimeout(function () {
                        window.location.href = '/code/detail?id=' + id;
                    }, 800)
                } else {
                    eui.msg('保存失败，' + obj.msg);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                eui.msg('系统出错');
            }
        });
    };
</script>
</body>
</html>