<!DOCTYPE html>
<html lang="zhcn">
<head>
    <include file="Common/meta" />
    <title>{$websiteName}</title>
    <include file="Common/link" />
    <style></style>
</head>
<body>
<div class="container">
    <p>这是管理平台首页</p>
    <a href="/Admin/Info">服务器基本信息</a>
    <a href="/Admin/Info/site">网站基本信息</a>
    <a href="">企业基本信息</a>
    <a href="/Admin/Banner">横幅管理</a>
    <a href="">导航管理</a>
    <a href="">页面管理</a>
    <a href="">底部管理</a>
</div>

<include file="Common/footer" />

<script></script>
</body>
</html>


