/* reset eui */
a:hover,
a:focus {
    text-decoration: none;
}

.btn {
    border-radius: 0;
}
.card {
    border-radius: 0;
}
/* 通用 */
.avatar {}
.avatar-xxs {
    width: 20px;
    height: 20px;
}

/* 头部 */
.layout-header {
     background: #fff;
     border-bottom: 1px solid #eee;
}

.ec-header-menu {
    float: right;
}
.ec-header-menu .menu-item {
    float: left;
    margin-right: 10px;
}


.layout-body .container {
    min-height: 500px;
    padding-top: 80px;
}

/* 页脚 */
.layout-footer {
    height: 200px;
    padding: 15px;
    background: #666;
    border-top: 1px solid #999;
}
.footer-nav-list {}
.footer-nav-list li {
    float: left;
    margin-right: 10px;
}
.footer-nav-list li a {
    color: #fff;
}

/*  */
.index-section {

}

/* */
.fun-list {

}
.fun-list .item {
    float: left;
    width: 33.3%;
}