<!DOCTYPE html>
<html lang="zhcn">
<head>
    <include file="Common/meta" />
    <title>基本信息</title>
    <include file="Common/link" />
</head>
<body>
<div class="container">
    <h2>服务器基本信息</h2>
    <table class="table">
        <tr>
            <th>名称</th>
            <th>值</th>
        </tr>
        <tr>
            <td>服务器</td>
            <td>{$server}</td>
        </tr>
        <tr>
            <td>系统</td>
            <td>{$system}</td>
        </tr>
        <tr>
            <td>PHP版本</td>
            <td>{$phpVersion}</td>
        </tr>
        <tr>
            <td>数据库类型</td>
            <td>{$dbType}</td>
        </tr>
        <tr>
            <td>服务器IP</td>
            <td>{$ip}</td>
        </tr>
    </table>

    <h2>其他信息</h2>
    <p>总访问数：</p>
</div>


<include file="Common/footer" />

<script></script>
</body>
</html>


