<div class="box-html-js">
    <div id="html-box" class="code-box box-html">
        <div id="html-tag" class="code-tag">html</div>
        <empty name="code.html">
            <textarea id="html"></textarea>
        <else />
            <textarea id="html">{$code.html}</textarea>
        </empty>

    </div>
    <div class="code-box box-js">
        <empty name="code.js">
            <textarea id="javascript"></textarea>
        <else />
            <textarea id="javascript">{$code.js}</textarea>
        </empty>

    </div>
</div>
<div class="box-css-view">
    <div class="code-box box-css">
        <empty name="code.css">
            <textarea id="css"></textarea>
        <else />
            <textarea id="css">{$code.css}</textarea>
        </empty>

    </div>
    <div class="code-output" id="iframewrapper">
        <iframe frameborder="0" id="iframeResult"></iframe>
    </div>
</div>