<!DOCTYPE html>
<html lang="zhcn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>登陆 - {$websiteName}</title>
    <include file="Common/link" />

</head>
<body>
<include file="Common/header" />
<div>
    <div class="container">
        <p>这是登陆页面</p>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-3">账号</label>
                <div class="col-sm-9">
                    <input class="form-control" placeholder="输入账号">
                </div>
            </div>
        </form>
    </div>
</div>




<include file="Common/footer" />

<script></script>
</body>
</html>


